* {
    margin: 2px;
    padding: 2px;

}
h3 {
    margin-top: 16px;
    text-align: center;
    font-size: 30px;
    color: blue;
    font-family:Times New Roman;

}

.bio{
    margin: 430px;
    padding: 50px;
    border: 2px solid rosybrown;
    background-color: gainsboro;
    color: aliceblue;
    text-align: center;
    font-size: 10px;
    width: 150px;
    height:100px;
}
.bio:hover{
    background-color: green;
}

.Pro{
    margin-top: -638px;
    margin-right: 230px;
    padding: 50px;
    border: 2px solid rosybrown;
    background-color: blue;
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    width: 150px;
    height: 100px;
    float: right;
}
.Pro:hover{
    background-color: brown;
}
.hobi{
    margin-top: -32.5%;
    margin-left: 51%;
    padding: 40px;
    border: 2px solid rosybrown;
    background-color: gray;
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    width: 90px;
    height:60px;
}
.hobi:hover{
    background-color:blueviolet;
}
.hobbies{
    margin-top: 0%;
    margin-left: 32%;
    padding: 40px;
    border: 2px solid rosybrown;
    background-color: deepskyblue;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    width: 172px;
    height: 150px;
}
.hobbies:hover{
    background-color: blue;
}
.contact{
    margin-top: -18%;
    margin-left: 64%;
    padding: 40px;
    border: 2px solid rosybrown;
    background-color: peru;
    color: aliceblu;
    text-align: center;
    font-size: 16px;
    width: 150px;
    height:150px;
}
.contact:hover{
    background-color: gray;
}


